/*noinspection CssInvalidAtRule*/
@tailwind preflight;

/*noinspection CssInvalidAtRule*/
@tailwind utilities;

body, html {
  background-color: theme('colors.backgroundLightGray');
  font-family: 'Helvetica', sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

/*overriding the default border-bottom because it does not play well with custom border color*/
.border-b {
  border-bottom: 1px solid #e1e1e1;
}

.border-1 {
  border-width: 1px;
}

